/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
/* common style  */
body{
    width: 1600px;
    font-family: 'Poppins', sans-serif;
   
}
/* bannner section start  */
.banner{
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
    margin-left:140px;
    margin-top: 50px;
    display: flex;
    position: relative;
   
}

.text-color{
    color: #ffff;
    font-size: 70px;
    line-height: 80px;
}
.banner-left{
    width: 531px;
    height: 424px;
    margin-left: 106px;
}
.banner-left p{
    color: #ffff;
    margin: 20px 40px 30px 0;
}
.watch-button{
    background-color: #DD0000;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    color: #ffff;
    margin-top: 30px;
    font-size: 20px;
}
.control-img{
    position: absolute;
    bottom: 10px;
    top: 10px;
    right: 20px;
    
}
.fa-angle-right{
    color: #ffff;
    font-size: 20px;
}
/* blogs section style start  */
.blogs{
    width: 1321px;
    height: 646px;
    display: flex;
    margin-left:140px;
    margin-top: 130px;
    margin-bottom: 50px;
}
.side-bar{
    width: 312px;
    height: 362px;
    border-radius: 30px;
    background-color: #161616;
   
}

.side-bar a{
    text-decoration: none;
    display: block;
    /* margin: 30px; */
    padding: 30px 50px;
}
#upcoming-button{
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 30px;
}
#group-button{
    background-color: rgb(242, 148, 25);
    border-radius: 10px;
    margin: 30px;
}
#blog-button{
    background-color: rgb(230, 75, 14);
    border-radius: 10px;
    margin: 30px;
}

.blogs-side{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:20px;
    grid-column-gap: 20px;
    margin-left: 24px;
}

.icon-area{
    display: flex;
    justify-content: space-evenly;
   
}
.transfer-button{
    display: block;
    padding: 5px 15px;
    background-color: antiquewhite;
    border-radius: 5px;
}